@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

.topNav {
  background-color: #0288D1;
  width: 100%;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: #B3E5FC;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 16px;
  padding: 14px 16px;
}

nav a:hover {
  color: #fff;
}

/* When the screen is less than 600px wide, hide all links,
except for the first one ("home"). Show the link that what should open
and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topNav a:not(:first-child) {display: none;}
  .topNav a.icon{
    float: right;
    display: block;
  }
}
