@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

.topNav {
  background-color: #0288D1;
  width: 100%;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 14px 16px;
}
